.carta {
	width: 125px;
	height: 125px;
	/* position: relative; */
	/* transition: all 0.5s ease; */
	background-color: #ffb300;
}
.carta-girada {
	/* width: 125px; */
	/* height: 125px; */
	/* position: relative; */
	/* transform: rotateY(180deg); */
	/* -webkit-backface-visibility: hidden; */
	background-color: rgb(3, 220, 244);
}

.contenido {
	width: 125px;
	height: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* position: absolute; */
	top: 0;
	left: 0;
}

.ReactFlipCard {
	width: 100%;
	height: 100%;
}
