header {
	height: 50px;
	border: 1 solid black;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.titulo {
	font-size: 25px;
	padding: 10;
	color: white;
}

.boton-reiniciar {
	position: absolute;
	left: 12;
	top: 58px;
}
